<div class="container-fluid">
  <app-page-title
    title="Calendrier des congés"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>
  <div class="row">
    <div class="col-3"></div>

    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <div class="app-calendar">
            <!-- calendar -->
            <full-calendar [options]="calendarOptions"></full-calendar>
          </div>
        </div>
      </div>
    </div>

    <div class="col-3">

      <div class="card">
        <div class="card-body">
          <div class="d-sm-flex flex-wrap">
<h4>
                <div class="card-body text-center">
                  <span class="badge rounded-pill bg-primary"
                    ><div class="ti">{{"Repos hebdomadaire" | translate}}</div></span
                  >
                </div>
              </h4>
              <h4>
                <div class="card-body text-center">
                  <span class="badge rounded-pill bg-success"
                    ><div class="ti"> {{"Jour chaumé paye" | translate}}</div></span
                  >
                </div>
              </h4>
              <h4>
                <div class="card-body text-center">
                  <span class="badge rounded-pill bg-info"
                    ><div class="ti">{{"Congé annuel" | translate}}</div></span
                  >
                </div>
              </h4>
              <h4>
                <div class="card-body text-center">
                  <span class="badge rounded-pill bg-warning"
                    ><div class="ti">{{"Congé de maladie ordinaire" | translate}}</div></span
                  >
                </div>
              </h4>
              <h4>
                <div class="card-body text-center">
                  <span class="badge rounded-pill bg-danger"
                    ><div class="ti">{{"Décès d'ascendants et collatéraux direct" | translate}}</div></span
                  >
                </div>
              </h4>
              <h4>
                <div class="card-body text-center">
                  <span class="badge rounded-pill bg-dark"
                    ><div class="ti">{{"Autres" | translate}}</div></span
                  >
                </div>
              </h4>
          </div>
        </div>
      </div>
