<div class="container-fluid">
  <app-page-title
    title="Calendrier des congés"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>
  <div class="checkout-tabs">
    <div class="row">
      <a>
        <p class="fw-bold mb-4">{{ "Recherche par date" | translate }}</p>
      </a>
      <br />
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <h1 class="card-title">
                  {{ "Consultation contrat" | translate }}
                </h1>
                <br />
                <form #gfg="ngForm">
                  <div class="row">
                 
                    <div class="col-sm-2">
                      
                      <div class="mb-3">
                        <label for="productname">
                          {{ "Date de début" | translate }}</label
                        >
                        <input
                          [(ngModel)]="date1"
                          id="date1"
                          name="date1"
                          type="date"
                          class="form-control"
                        />
                      </div>
                    </div>

                    <div class="col-sm-2">
                      <div class="mb-3">
                        <label for="price">
                          {{ "Date de fin" | translate }}
                        </label>
                        <input
                          [(ngModel)]="date2"
                          name="date2"
                          id="date2"
                          type="date"
                          class="form-control"
                        />
                        <div class="invalid-feedback"></div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="col-sm-4" >
                    <div class="mb-3">
                      <button
                        (click)="onGetValue()"
                        class="fc-dayGridWeek-button btn btn-primary"
                        value=""
                      >
                        {{ "Chercher" | translate }}
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <div *ngIf="ereur">
              <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Alert!</h4>
                <p>Pas d'information à afficher</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid" *ngIf="list">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="row" >
                  <div class="col-12">
                    <ag-grid-angular
                      style="
                        display: flex;
                        flex-direction: column;
                        height: 350px;
                      "
                      class="ag-theme-alpine"
                      [rowData]="list"
                      [columnDefs]="columnContrat"
                      [pagination]="true"
                      [modules]="modules"
                    >
                    </ag-grid-angular>
                  </div>
                </div>
                <br />
                <div class="button-items" *ngIf="list">
                  <button
                    type="button"
                    class="btn btn-success"
                    (click)="exportAsXLSX()"
                  >
                    <i
                      class="bx bx-file-blank font-size-16 align-middle me-2"
                    ></i>
                    {{ "Télécharger en EXCEL" | translate }}
                  </button>
                  <button
                    type="button"
                    class="btn btn-danger"
                    (click)="openPDF()"
                  >
                    <i
                      class="bx bxs-file-pdf font-size-16 align-middle me-2"
                    ></i>
                    {{ "Télécharger en PDF" | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
